* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: $background-primary; 
    height: 2000px;

    display: flex;
    justify-content: center;
}

.container-landing {

    max-width: 1420px;
    border: 2px solid greenyellow;
}
