.container-about {
    border: 1px solid red;
    height: 800px;
    h1 {
        font-family: $primary-font;
        color: $primary-color;
        font-size: 48px;
    }
    p {
        font-family: $secondary-font;
        color: $tertiary-color;
        text-align: start;
        font-size: 20px;
        line-height: 35px;
    }
}

.container-p {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}