
.navbar-container{
    background-color: #ff9f9f;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
}


.navbar-sezioni {
    font-family: $secondary-font;

    a {
        color: $secondary-color;
        font-size: 24px;
        margin: 20px;
    }
}

.container-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 20px;
    .bi {
        color: $secondary-color;
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .container-social {
        display: none;
    }
}