


.navbar-collapse {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    vertical-align: middle;
    
}


.navbar-sezioni {
    font-family: $secondary-font;
    border: 1px solid red;
    margin-left: 200px;
    
    a {
        color: $primary-color;
        font-size: 24px;
        margin: 20px;
    }
}

.container-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border: 1px solid red;
    padding: 20px;
    .bi {
        color: $primary-color;
        font-size: 25px;
    }
}