.container-about {
    min-height: 900px;
    padding-top: 80px;
    padding-bottom: 80px;
    span {
        color: $secondary-color;
        font-weight: bold;
        font-style: italic;
    }
    h1, h2 {
        font-family: $primary-font;
        color: $primary-color;
        font-size: 48px;
        padding-top: 70px;
    }
    p {
        font-family: $secondary-font;
        color: $tertiary-color;
        text-align: start;
        font-size: 20px;
        line-height: 35px;
    }
}
.container-p {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.container-description {
    background-color: #fffad72d;
    padding: 20px 30px;
    border-radius: 25px;
    letter-spacing: 1px;
}


.container-myinfo {
    display: flex;
    justify-content: flex-start;
    background-color: #ff9f9f25;
    border-radius: 25px;
    padding:20px 30px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

@media (max-width: 600px) {
    .container-about {
        padding: 0;
    }
}