.container-skills {
    padding-top: 90px;
    padding-bottom: 70px;
    .img-skills {
        width: 700px;
    }
    
    h1 {
        font-family: $primary-font;
        color: $primary-color;
        font-size: 48px;
        padding-top: 70px;
        text-align: center;
    }
}

.container-myskill {
    display: flex;
    flex-direction: row;
    height: 650px;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    

    .container-linguaggi {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        text-align: center;
        
    }
    .container-progress {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        text-align: center;
    }
    .container-icon {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }
    p {
        font-family: $primary-font;
        color: $tertiary-color;
        font-size: 15px;
        font-weight: bold;
        margin: 5px 0;

    }
}




@media (max-width: 990px) {
        .img-skills { 
                display: none;
            }
        .container-progress {
            p {
                font-size: 20px;
                
            }
        }
        .container-myskill {
            column-gap: 100px;
        }
        .container-icon {
            img {
                width: 45px;
            }
        }
        .container-linguaggi {
            p {
                font-size: 20px;
                text-align: left;
                
            }
        }
    }
    
    @media (max-width: 400px) {
        .img-skills { 
                display: none;
            }
        .container-progress {
            p {
                display: none;
                
            }
        }
        .container-myskill {
            column-gap: 40px;
        }
        .container-icon {
            img {
                width: 40px;
            }
        }
        .container-linguaggi {
            p {
                font-size: 20px;
                text-align: left;
                
            }
        }
    }
    